input.form-control {
  border-radius: 90px;
  padding: 1rem 1.5rem;
}

.btn {
  border-radius: 90px;
  padding: 1rem 1.5rem;
  min-width: 120px;
}

.reap-logo{
  height: 100px;
  width: 250px;
  margin: auto;
}
.login-cont{
  background-color: rgba(0,0,0,0.5) !important;
}
.login-btn{
  background-color: #90735A;
  border: none;
}