// Sidenav styling
@import '~@angular/material/theming';
@include mat-core();
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
$app-theme: mat-light-theme($app-primary, $app-accent);
@include mat-core-theme($app-theme);
@include mat-sidenav-theme($app-theme);
//

@import "scss/mixins/material-palette";
@import "scss/mixins/skinning";
@import "scss/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "scss/theming";
@import "scss/custom-bootstrap";
@import "scss/core";
.card{
    padding: 20px;
    .no-data{
        text-align: center
     }
}
.add-btn-container{
    text-align: right
}
.form-control-danger{color:#ff0}
.custom-btn{
    background-color: #CEA176;
    border-color: #CEA176;
    color:#fff
}
.pagination-container{
    display: flex
 }
 
 .w-15{
    width: 15%
 }
 @media screen and (max-width: 600px) {
    .table th, .table td {
       padding: 0.75rem 0.15rem;
    }
}