<div class="row">
   <div class="col-md-12">
      <div class="card">
      <ngb-tabset class="card-tab">
        <ngb-tab title="Manual">
          <ng-template ngbTabContent>
              <div class="card">
             
                  <div class="table-responsive">
                    <table class="table table-bordered table-striped mb-0">
                      <thead>
                        <tr>
                          <th>
                            Name
                          </th>
                          <th>
                            Phone
                          </th>
                          <th>
                            Email
                          </th>
                          <th>
                            
                          </th>
                        </tr>
                      </thead>
                     
                      <tbody>
                        <tr *ngFor="let number of [0,1,2,3,4,5,6]">
                          <td>
                            name {{number}}
                          </td>
                          <td>
                            phone {{number}}
                          </td>
                          <td>
                            email {{number}}
                          </td>
                          <td class="text-center">
                            <input class="w-25" type="checkbox" >
                          </td>
                        </tr>
                   
                      </tbody>
                    </table>
                  </div>
              </div>
              <button class="btn btn-primary mt-2 float-right">check in</button>

          </ng-template>
        </ngb-tab>
        <ngb-tab title="Camera">
          <ng-template ngbTabContent>
            <div class="card card-body mb-0 pb-0">
              <div class="row justify-content-center">
              
                <zxing-scanner class="test-class" start="true" (scanSuccess)="handleQrCodeResult($event)"></zxing-scanner>
                <p>
                  Result:
                  <strong>{{ qrResultString }}</strong>
                </p>
                <!-- <div [hidden]="!hasCameras">
                
                
                  <h2 *ngIf="!this.selectedDevice">No camera selected.</h2>
                
                  <p>
                    Result:
                    <strong>{{ qrResultString }}</strong>
                  </p>
                
                </div>
                
                <div *ngIf="!hasCameras && hasPermission === true">
                
                  <h1>Looks like your actual device does not has cameras, or I could no find'em. </h1>
                
                </div>
                
                <div *ngIf="hasPermission === undefined">
                
                  <h1>Waiting for permissions.</h1>
                
                  <blockquote>
                    <h2>If your device does not has cameras, no permissions will be asked.</h2>
                  </blockquote>
                
                </div>
                
                <div *ngIf="hasPermission === false">
                
                  <h1>You denied the camera permissions, we can't scan anything without it. 😪</h1>
                
                </div> -->
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
   </div>

</div>