<div class="row">
   <div class="col-md-12">
      <div class="card">
      <ngb-tabset class="card-tab">
        
         
        <ngb-tab title="Manual">
          <ng-template ngbTabContent>
            
              <div class="card">
                  <form *ngIf="!country" class="my-2 form-inline justify-content-end">
                      <label  for="inlineFormCustomSelect">Sessions</label>
                     
                      <select name="session" (change)="onSessionChange($event.target.value)" class="custom-select w-15 ml-2" id="inlineFormCustomSelect">                   
                        <option  *ngFor="let session of sessions" [value]="session.id">{{session.name}}</option>
                        
                      </select>
                  </form>
                  <form *ngIf="country" class="my-2 form-inline justify-content-end">
                      <label  for="inlineFormCustomSelect">Packages</label>
                     
                      <select name="packages" (change)="onPackageChange($event.target.value)" class="custom-select w-15 ml-2" id="inlineFormCustomSelect">                   
                        <option  *ngFor="let pack of packages" [value]="pack.id">{{pack.name}}</option>
                        
                      </select>
                  </form>
                  <div *ngIf="users&&users.length>0" class="table-responsive">
                    <table  class="table table-bordered table-striped mb-0">
                      <thead>
                        <tr>
                          <th>
                            Name
                          </th>
                          <th>
                            Phone
                          </th>
                          <th>
                            Email
                          </th>
                          <th>
                            
                          </th>
                        </tr>
                      </thead>
                     
                      <tbody>
                        <tr *ngFor="let user of users">
                          <td>
                            {{user.profile.first_name }} {{user.profile.last_name}}
                          </td>
                          <td>
                            {{user.profile.mobile}}
                          </td>
                          <td>
                            {{user.profile.email}}
                          </td>
                          <td class="text-center">
                            <input type="checkbox" (change)="addUserId($event,user)" >
                          </td>
                        </tr>
                        
                      </tbody>
                    </table>
                    <div class="pagination-container justify-content-center mt-3">
                      <ngb-pagination
                      (pageChange)="loadPageData($event)"
                      [(page)]="page"
                      [pageSize]="pageSize"
                      [collectionSize]="users.total"></ngb-pagination>
                    </div>
                  </div>
                  <div class="no-data" *ngIf="users&&users.length==0">
                    There Is No Data To Show
                  </div>
              </div>
              <button (click)="checkInUserManually()" class="btn custom-btn mt-2 float-right">check in</button>

          </ng-template>
        </ngb-tab>
        <ngb-tab title="Camera" *ngIf="!country">
          <ng-template ngbTabContent>
            <div class="card card-body mb-0 pb-0">
              <div class="text-center">
                  <div>
     
                      <h3>Result: {{ qrResultString }}</h3>
                  </div>
                  <div id="qrcodeid" class="justify-content-center d-flex">
                      <qr-code-all [canvasWidth]="640"
                          [canvasHeight]="480"
                          [debug]="false"
                          [stopAfterScan]="true"
                          [updateTime]="500"
                          (onCapture)="scanQrCode($event)"
                          [scanQrCode]="true">
                      </qr-code-all>
                  </div>
                
              </div>
            </div>
            <button (click)="checkInUserByScanning()" class="btn custom-btn mt-2 float-right">check in</button>

          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
   </div>

</div>