<!-- <div class="row">
  <div class="col-md-12">
     <div class="card">

     
            
             <div class="card">
                <div class="card-header">
                  <h2>Users List</h2>
                </div>
                <div class="add-btn-container">
                    <button class="btn btn-primary my-3" (click)="handleEvent($event.event)">ADD</button>
                  </div>
                 <div class="table-responsive">
                   <table class="table table-bordered table-striped mb-0">
                     <thead>
                       <tr>
                         <th>
                           Name
                         </th>
                         <th>
                           Phone
                         </th>
                         <th>
                           Email
                         </th>
                         <th>
                           
                         </th>
                       </tr>
                     </thead>
                    
                     <tbody>
                       <tr *ngFor="let number of [0,1,2,3,4,5,6]">
                         <td>
                           name {{number}}
                         </td>
                         <td>
                           phone {{number}}
                         </td>
                         <td>
                           email {{number}}
                         </td>
                         <td class="text-center">
                           <button class="btn btn-danger">delete</button>
                         </td>
                       </tr>
                  
                     </tbody>
                   </table>
                 </div>
             </div>
            
    
   </div>
  </div>
 
</div> -->
<ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h3 class="modal-title">Add Session</h3>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="d-flex justify-content-center align-items-center h-100">
           
              <div class="card-body">
                
                <form class="w-75 m-auto" [formGroup]="form">
                  <fieldset class="form-group mb-4" [ngClass]="{'has-danger': form.controls['name'].hasError('required') && form.controls['name'].touched}">
                    <textarea type="text" class="form-control" placeholder="Enter Description" [formControl]="form.controls['name']"
                      [ngClass]="{'form-control-danger': form.controls['name'].hasError('required') && form.controls['name'].touched}" ></textarea>
                   
                  </fieldset>
                  <fieldset class="form-group mb-4" [ngClass]="{'has-danger': form.controls['location_id'].hasError('required') && form.controls['location_id'].touched}">
                
                    <select type="text" class="form-control" [formControl]="form.controls['location_id']"
                    [ngClass]="{'form-control-danger': form.controls['location_id'].hasError('required') && form.controls['location_id'].touched}" >
                     <option value = "" disabled>Select location</option>
                     <option [value]="location.id" *ngFor="let location of locations">{{location.name}}</option>
                  </select>
        
                  </fieldset>
                  <fieldset class="form-group mb-4" [ngClass]="{'has-danger': form.controls['time'].hasError('required') && form.controls['time'].touched}">
                      <input type="text" class="form-control" placeholder="Enter Time" [formControl]="form.controls['time']"
                        [ngClass]="{'form-control-danger': form.controls['time'].hasError('required') && form.controls['time'].touched}" />
                      
                  </fieldset>
                  <fieldset class="form-group mb-4" [ngClass]="{'has-danger': form.controls['gear'].hasError('required') && form.controls['gear'].touched}">
                      <input type="text" class="form-control" placeholder="Enter Gear" [formControl]="form.controls['gear']"
                        [ngClass]="{'form-control-danger': form.controls['gear'].hasError('required') && form.controls['gear'].touched}" />
                  
                  </fieldset>
                  <fieldset class="form-group mb-4" [ngClass]="{'has-danger': form.controls['trainer_id'].hasError('required') && form.controls['trainer_id'].touched}">
                      <select type="text" class="form-control" [formControl]="form.controls['trainer_id']"
                        [ngClass]="{'form-control-danger': form.controls['trainer_id'].hasError('required') && form.controls['trainer_id'].touched}" >
                         <option value = "" disabled>Select trainer</option>
                         <option [value]="trainer.profile.id" *ngFor="let trainer of trainers">{{trainer.profile.name}}</option>
                      </select>
                  
                  </fieldset>
                  <div class="modal-footer d-flex justify-content-center">
                    <button class="btn custom-btn px-3" (click)="onSubmitSession(form)" type="submit" [disabled]="!form.valid">Add session</button>
                  </div>
                 
                </form>
              </div>
            
            <div class="bg-cover"></div>
          </div>
          
    </div>

</ng-template>
<ng-template #modalContent2 let-close="close">
  <div class="modal-header">
    <h3 class="modal-title">Add Trainer</h3>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="d-flex justify-content-center align-items-center h-100">
         
            <div class="card-body">
              
              <form class="w-75 m-auto" [formGroup]="form1">
        
                <fieldset class="form-group mb-4" [ngClass]="{'has-danger': form1.controls['name'].hasError('required') && form1.controls['name'].touched}">
                    <input type="text" class="form-control" placeholder="Enter Name" [formControl]="form1.controls['name']"
                      [ngClass]="{'form-control-danger': form1.controls['name'].hasError('required') && form1.controls['name'].touched}" />
                
                </fieldset>
                <fieldset class="form-group mb-4" [ngClass]="{'has-danger': form1.controls['dob'].hasError('required') && form1.controls['dob'].touched}">
                    <input type="text" class="form-control" placeholder="Enter Date of birth" [formControl]="form1.controls['dob']"
                      [ngClass]="{'form-control-danger': form1.controls['dob'].hasError('required') && form1.controls['dob'].touched}" />
                
                </fieldset>
                <fieldset class="form-group mb-4" [ngClass]="{'has-danger': form1.controls['description'].hasError('required') && form1.controls['description'].touched}">
                    <input type="text" class="form-control" placeholder="Enter Description" [formControl]="form1.controls['description']"
                      [ngClass]="{'form-control-danger': form1.controls['description'].hasError('required') && form1.controls['description'].touched}" />
                
                </fieldset>
                <!-- <fieldset class="form-group mb-4" [ngClass]="{'has-danger': form.controls['strainer'].hasError('required') && form.controls['strainer'].touched}">
                    <select type="text" class="form-control" [formControl]="form.controls['strainer']"
                      [ngClass]="{'form-control-danger': form.controls['strainer'].hasError('required') && form.controls['strainer'].touched}" >
                       <option>trainer 1</option>
                       <option>trainer 2</option>
                       <option>trainer 3</option>
                    </select>
                
                </fieldset> -->
                <div class="modal-footer d-flex justify-content-center">
                  <button class="btn custom-btn px-3" (click)="onSubmit(form1)" type="submit" [disabled]="!form1.valid">Add trainer</button>
                </div>
               
              </form>
            </div>
          
          <div class="bg-cover"></div>
        </div>
        
  </div>

</ng-template>
<div class="row">
  <div class="col-md-12">
     <div class="card">
     <ngb-tabset class="card-tab">
       <!-- <ngb-tab title="Fitness Level">
         <ng-template ngbTabContent>
             <div class="card">
              <div class="add-btn-container">
                <button class="btn btn-primary my-3" (click)="handleEvent($event.event)">ADD</button>
              </div>
                 <div class="table-responsive">
                   <table class="table table-bordered table-striped mb-0">
                     <thead>
                       <tr>
                         <th>
                           Name
                         </th>
                         <th>
                           Phone
                         </th>
                         <th>
                           Email
                         </th>
                         <th>
                           
                         </th>
                       </tr>
                     </thead>
                    
                     <tbody>
                       <tr *ngFor="let number of [0,1,2,3,4,5,6]">
                         <td>
                           name {{number}}
                         </td>
                         <td>
                           phone {{number}}
                         </td>
                         <td>
                           email {{number}}
                         </td>
                         <td class="text-center">
                           <input class="w-25" type="checkbox" >
                         </td>
                       </tr>
                  
                     </tbody>
                   </table>
                 </div>
             </div>
             <button class="btn btn-primary mt-2 float-right">check in</button>

         </ng-template>
       </ngb-tab> -->
       <ngb-tab title="Trainers">
         <ng-template ngbTabContent>
           <div class="card card-body mb-0 pb-0">
              <div class="add-btn-container">
                  <button class="btn custom-btn my-3" (click)="handleEvent2($event.event)">ADD</button>
              </div>
              <div class="table-responsive">
                  <table class="table table-bordered table-striped mb-0">
                    <thead>
                      <tr>
                        <th>
                          Name
                        </th>
                        <th>
                          Date
                        </th>
                        <th>
                          
                        </th>
                      </tr>
                    </thead>
                   
                    <tbody>
                      <tr *ngFor="let trainer of trainers; let i = index">
                        <td>
                          {{trainer.profile.name}}
                        </td>
                        <td>
                          {{trainer.profile.dob}}
                        </td>
                        <td class="text-center">
                            <button class="btn btn-danger" (click)="delete_trainer(trainer.profile.id, i)">delete</button>
                        </td>
                      </tr>
                 
                    </tbody>
                  </table>
              </div>
           </div>
         </ng-template>
       </ngb-tab>
       <ngb-tab title="Sessions">
        <ng-template ngbTabContent>
            <div class="card">
                  <div class="add-btn-container">
                    <button class="btn custom-btn my-3" (click)="handleEvent($event.event)">ADD</button>
                  </div>
                  <div *ngIf="sessions&&sessions.length>0" class="table-responsive">
                      <table class="table table-bordered table-striped mb-0">
                        <thead>
                          <tr>
                            <th>
                              Name
                            </th>
                            <th>
                              Time
                            </th>
                            <th>
                              Date
                            </th>
                            <th>
                              
                            </th>
                          </tr>
                        </thead>
                       
                        <tbody>
                          <tr *ngFor="let session of sessions; let i = index">
                            <td>
                              {{session.name}}
                            </td>
                            <td>
                              {{session.time}}
                            </td>
                            <td>
                              {{session.date}}
                            </td>
                            <td class="text-center">
                                <button (click)="delete_session(session.id, i)" class="btn btn-danger">delete</button>
                            </td>
                          </tr>
                     
                        </tbody>
                      </table>
                  </div>
                  <div class="no-data" *ngIf="sessions&&sessions.length==0">
                      There Is No Data To Show
                  </div>
            </div>

        </ng-template>
      </ngb-tab>
     </ngb-tabset>
   </div>
  </div>

</div>